html {
	margin: 15px; padding:15px;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-height: 400px;
	max-width: 800px;
	border-style: double; border-width: 10px;
}

h1 {
	background-color: blue;
	text-align: center;
	text-decoration: blink;
	text-shadow: 4px 4px #625750; text-decoration-color: white;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26.399999618530273px;; 
	border: double; border-radius: 25px;
}

h2 {
	background-color: blue;
	text-align: center;
	text-decoration: blink;
	text-shadow: 4px 4px #fefbd8; text-decoration-color: white;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26.399999618530273px;; 
	border: double; border-radius: 25px;
}

body {
	text-align: center;
	text-decoration-color: white;
	font-family: "Courier New", serif; font-size: 25px;

	border: 10px solid transparent;
  	padding: 15px;
	
}

button {
	background-color: rgb(110, 101, 128); 
  border: dashed;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 5px 5px beige;
  font-size: 16px;  font-family: "Lucida Console", Monaco, monospace;
}
