html {
	background-image: linear-gradient(#f4e1d2,white);
	margin: 25px; padding:25px;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-height: 400px;
	max-width: 800px;
	border-style: double; border-width: 10px;
}

h1 {
	text-align: center;
	text-decoration: blink;
	text-shadow: 4px 4px #625750; text-decoration-color: white;
	font-family: "Times New Roman", Times, serif; font-size: 70px; 
	border: double; border-radius: 25px;
}

h2 {
	text-align: center;
	text-decoration: blink;
	text-shadow: 4px 4px #fefbd8; text-decoration-color: white;
	font-family: "Times New Roman", Times, serif; font-size: 45px; 
	border: double; border-radius: 25px;
}

body {
	text-align: center;
	text-decoration-color: white;
	font-family: "Courier New", serif; font-size: 25px;

	border: 10px solid transparent;
  	padding: 15px;
	
}

button {
	background-color: rgb(110, 101, 128); 
  border: dashed;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 5px 5px beige;
  font-size: 16px;  font-family: "Lucida Console", Monaco, monospace;
}
